---

# Events
winlogbeat.event_logs:
  {{ winlogbeat_event_logs | to_json }}

setup.template.settings:
  index.number_of_shards: 1

output.kafka:
  hosts: ["{{ kafkahost }}"]

  topic: 'windowslogs'
  partition.round_robin:
    reachable_only: false

  required_acks: 1
  compression: gzip
  max_message_tyes: 10000000

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~