groups:
- name: cpu-rules
  rules:
  - alert: HostHighCpuLoad
    expr: 100 - (avg by(instance,job) (rate(node_cpu_seconds_total{mode="idle"}[30m])) * 100) > {{ cpuload }}
    for: {{tower_scrape}}
    labels:
      severity: warning
    annotations:
      summary: 'Host high CPU load (instance: {% raw %}{{ $labels.job }}{% endraw %})'
      description: 'CPU load is > {{ cpuload }} VALUE = {% raw %}{{ $value }}{% endraw %}'                                                                            