[Unit]
Description=Alertmanager {{ alertmanager_version }}
Wants=network-online.target
After=network-online.target

[Service]
User=root
Restart=on-failure
RestartSec=10
ExecStart={{ _alertmanager_binary_install_dir }}/alertmanager \
              --config.file={{ alertmanager_path_config }}/alertmanager.yml \
              --web.config.file={{ alertmanager_path_config }}/web.yml \
              --web.external-url http://{{ inventory_hostname }}:9093
WorkingDirectory={{ alertmanager_path_config }}

[Install]
WantedBy=multi-user.target