[Unit]
Description=Prometheus {{ prometheus_version }}
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=network-online.target
After=network-online.target

[Service]
User=root
Restart=on-failure
RestartSec=10
ExecStart={{ _prometheus_binary_install_dir }}/prometheus \
              --config.file={{ prometheus_path_config }}/prometheus.yml \
              --web.config.file={{ prometheus_path_config }}/web.yml \

[Install]
WantedBy=multi-user.target
