---
# https://prometheus.io/docs/operating/configuration/

global:
  # How frequently to scrape targets by default.
  # [ scrape_interval: <duration> | default = 1m ]
  scrape_interval:  5m

  # How long until a scrape request times out.
  # [ scrape_timeout: <duration> | default = 10s ]
  scrape_timeout: 10s

  # How frequently to evaluate rules.
  # [ evaluation_interval: <duration> | default = 1m ]
  evaluation_interval:  {{ tower_scrape }}

alerting:
  alertmanagers:
  - scheme: https
    static_configs:
    - targets:
       - {{ inventory_hostname }}:9093

rule_files:
  - "/etc/prometheus/rules/*.yml"

scrape_configs:

  # Scrape job for prometheus
  - job_name: 'prometheus'
    scheme: https
    static_configs:
    - targets: ['{{ inventory_hostname }}:9090']

  # Scrape Config for Controller
  - job_name: 'controller metrics'
    metrics_path: /api/controller/v2/metrics/
    scrape_interval: {{ tower_scrape }}
    scheme: https
    bearer_token: "{{ bearer_token }}"
    static_configs:
    - targets: ['aap.shadowman.dev:443']

  # Scrape config for Controller Node Exporter
  - job_name: 'aapcontroller1.shadowman.dev'
    scrape_interval: {{ tower_scrape }}
    static_configs:
    - targets: ['aapcontroller1.shadowman.dev:9100']

  # Scrape config for Controller Node Exporter
  - job_name: 'aapcontroller2.shadowman.dev'
    scrape_interval: {{ tower_scrape }}
    static_configs:
    - targets: ['aapcontroller2.shadowman.dev:9100']

  # Scrape job for rhel10 node exporter
  - job_name: 'rhel10.shadowman.dev'
    scrape_interval: {{ tower_scrape }}
    static_configs:
    - targets: ['rhel10.shadowman.dev:9100']

  # Scrape job for windows exporter
  - job_name: 'win2025.ad.shadowman.dev'
    scrape_interval: {{ tower_scrape }}
    static_configs:
    - targets: ['win2025.ad.shadowman.dev:9100']

  # Scrape job for POSTGRESQL exporter
  - job_name: 'AAP POSTGRESQL Exporter Metrics'
    scrape_interval: {{ tower_scrape }}
    static_configs:
    - targets: ['aapdb.shadowman.dev:9187']

#  # The labels to add to any time series or alerts when communicating with
#  # external systems (federation, remote storage, Alertmanager).
#  external_labels:
#    [ <labelname>: <labelvalue> ... ]
#
#  # Rule files specifies a list of globs. Rules and alerts are read from
#  # all matching files.
#  rule_files:
#    [ - <filepath_glob> ... ]
#
#  # A list of scrape configurations.
#  scrape_configs:
#    [ - <scrape_config> ... ]
#
#  # Alerting specifies settings related to the Alertmanager.
#  alerting:
#    alert_relabel_configs:
#      [ - <relabel_config> ... ]
#    alertmanagers:
#      [ - <alertmanager_config> ... ]
#
#  # Settings related to the experimental remote write feature.
#  remote_write:
#    [ - <remote_write> ... ]
#
#  # Settings related to the experimental remote read feature.
#  remote_read:
#    [ - <remote_read> ... ]
