---
collectors:
  enabled: cpu,cpu_info,cs,iis,logical_disk,memory,net,os,service,system,textfile
collector:
  service:
    include: "windows_exporter"
  scheduled_task:
    include: /Microsoft/.+
log:
  level: debug
scrape:
  timeout-margin: 0.5
telemetry:
  path: /metrics
web:
  listen-address: ":9100"
